.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}


#banner-principal{
	background-image: url('/public/img/Sanjuan.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
	height: 800px;
}

.section-valores{
	background-image: url('/public/img/Sanjuan.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
	height: 400px;
}