.destinations{
  margin: 4rem 6rem;
}

.destinations h1{
  font-size: 4rem;
}


.first-dess{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.first-des-reverses{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.des-texts{
  width: 45%;
  text-align: start;
  font-size:1.1rem ;
}

.des-texts h2{
  font-size: 2rem ;
}


.images{
position: relative;
width: 50%;
display: flex;
justify-content:center;
z-index: -99;  

}


.images img{
width: 49%;
height: 330px;
object-fit: cover;
border-radius: 200px;
box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);

}


.images img:nth-child(2){
position: absolute;
top: -10%;
right:0 ;
}


@media screen and  (max-width:850px){
  .destinations{
  margin: 4rem 2rem;
}

.first-dess{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2.5rem;
}
.first-des-reverses{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 4.5rem;
}

.des-texts{
  width: 100%;
}

.images{
  width: 100%;
  margin: 1.8rem;
}
.images img{
  height: 200px;
  border-radius: 100rem;
}
}

